<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<context:component-scan base-package="com.xhMall"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
	  <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.xhMall.db.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

	<context:property-placeholder location="classpath:jdbc.properties"/>

	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>classpath:*.properties</value>
			</list>
		</property>
	</bean>
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="properties" ref="configProperties" />
	</bean>

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"        
        destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager"/><!-- a PlatformTransactionManager is still required -->

    <!--配置Spring的事务管理器-->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean id="actionLog" class="com.xhMall.common.util.LogUtil"></bean>
	<aop:config>
		<!--配置切入点-->
		<aop:pointcut id="actionPointCut" expression="execution(* com.xhMall.controller.*Controller.*(..))
			and !execution(* com.xhMall.controller.*Controller.get*(..))
		    and !execution(* com.xhMall.controller.*Controller.set*(..))"/>
		<!--定义切面 例如处理log的方法等-->
		<aop:aspect ref="actionLog">
			<aop:around pointcut-ref="actionPointCut" method="around"/>
		</aop:aspect>
	</aop:config>

	<import resource="spring-email.xml"/>
	<import resource="spring-mvc.xml"/>
	<!-- <import resource="spring-redis.xml"/>
    <import resource="spring-cxf.xml"/>
    <import resource="spring-timer.xml"/>
    <import resource="spring-shiro.xml"/>-->
	
	
</beans>